Pandas Lib

In [45]:
import pandas as pd

In [46]:
a = pd.Series([10,23,45,5,56,3])
a

0    10
1    23
2    45
3     5
4    56
5     3
dtype: int64

In [47]:
data={
    "name":["Anant", "Rahul", "kunal"],
    "Age":[23,34,19],
    "Roll":[11,12,13]
}

In [48]:
df=pd.DataFrame(data)
df

    name  Age  Roll
0  Anant   23    11
1  Rahul   34    12
2  kunal   19    13

In [49]:
df=pd.read_csv('/content/priceoye_laptops_version_2.csv')

In [50]:
df.head()

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,NaN,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,NaN,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7

In [51]:
df.tail()

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,NaN,NaN,NaN,NaN,Infinix,Core i9,NaN,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,NaN,NaN,NaN,NaN,ASUS,Core i5,NaN,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,NaN,NaN,NaN,NaN,Asus,Ryzen 9,NaN,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        306 non-null    int64
 1   Name              306 non-null    object
 2   Discounted Price  306 non-null    float64
 3   Actual Price      291 non-null    float64
 4   Saving            291 non-null    object
 5   Rating            26 non-null     float64
 6   Reviews           26 non-null     float64
 7   Brand             306 non-null    object
 8   Core              219 non-null    object
 9   SSD               92 non-null     object
 10  Model             306 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 26.4+ KB

In [53]:
df.describe()

       Unnamed: 0  Discounted Price  Actual Price     Rating    Reviews
count  306.000000      3.060000e+02  2.910000e+02  26.000000  26.000000
mean   152.500000      2.775879e+05  3.212616e+05   4.753846   1.615385
std     88.478811      1.708020e+05  1.802598e+05   0.572874   1.134087
min      0.000000      8.599900e+04  1.119990e+05   3.000000   1.000000
25%     76.250000      1.742490e+05  2.000000e+05   5.000000   1.000000
50%    152.500000      2.344990e+05  2.800000e+05   5.000000   1.000000
75%    228.750000      3.449998e+05  3.800000e+05   5.000000   2.000000
max    305.000000      1.552999e+06  1.599900e+06   5.000000   5.000000

In [54]:
df.shape

(306, 11)

In [55]:
df.columns

Index(['Unnamed: 0', 'Name', 'Discounted Price', 'Actual Price', 'Saving',
       'Rating', 'Reviews', 'Brand', 'Core', 'SSD', 'Model'],
      dtype='object')

In [56]:
df.iloc[3]

Unnamed: 0                                                          3
Name                Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...
Discounted Price                                             287999.0
Actual Price                                                 340000.0
Saving                                                        15% OFF
Rating                                                            NaN
Reviews                                                           NaN
Brand                                                          Lenovo
Core                                                          Ultra 7
SSD                                                               NaN
Model                         ThinkPad E16 Gen 2 - Intel Core Ultra 7
Name: 3, dtype: object

In [57]:
df.iloc[303]

Unnamed: 0                                                        303
Name                ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...
Discounted Price                                             205000.0
Actual Price                                                      NaN
Saving                                                            NaN
Rating                                                            NaN
Reviews                                                           NaN
Brand                                                            ASUS
Core                                                          Core i7
SSD                                                               NaN
Model                            Expertbook B1500CBA 12th Gen Core i7
Name: 303, dtype: object

In [58]:
df[df["Actual Price"]>3]

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,NaN,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,NaN,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
290,290,Dell Inspiron 15 3530 13th Gen Core i7 1355U (...,189999.0,219999.0,14% OFF,NaN,NaN,Dell,Core i7,16GB-512GB SSD,Inspiron 15 3530 13th Gen Core i7 1355U
291,291,Dell Inspiron 3535 AMD Ryzen 7-7730U (16GB-512...,134499.0,142999.0,6% OFF,NaN,NaN,Dell,Ryzen 7,16GB-512GB SSD,Inspiron 3535 AMD Ryzen 7-7730U
292,292,Acer Predator Helios Neo PH16-72-99PA Intel Co...,430999.0,449999.0,4% OFF,NaN,NaN,Acer,Core i9,NaN,Predator Helios Neo PH16-72-99PA Intel Core i9...
293,293,Acer Predator Helios Neo PH16-72-97T1 Intel Co...,781999.0,950000.0,18% OFF,NaN,NaN,Acer,Core i9,NaN,Predator Helios Neo PH16-72-97T1 Intel Core i9...
294,294,ASUS ROG Zephyrus G14 GA403UM Ryzen 9-270 (16G...,499999.0,550000.0,9% OFF,NaN,NaN,ASUS,Ryzen 9,NaN,ROG Zephyrus G14 GA403UM Ryzen 9-270 RTX 5060...