Pandas Lib

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([10,23,45,5,56,3])
a

0    10
1    23
2    45
3     5
4    56
5     3
dtype: int64

In [ ]:
data={
    "name":["Anant", "Rahul", "kunal"],
    "Age":[23,34,19],
    "Roll":[11,12,13]
}

In [ ]:
df=pd.DataFrame(data)
df

    name  Age  Roll
0  Anant   23    11
1  Rahul   34    12
2  kunal   19    13

In [ ]:
df=pd.read_csv('/content/priceoye_laptops_version_2.csv')

In [ ]:
df.head()

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,NaN,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,NaN,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7

In [ ]:
df.tail()

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,NaN,NaN,NaN,NaN,Infinix,Core i9,NaN,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,NaN,NaN,NaN,NaN,ASUS,Core i5,NaN,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,NaN,NaN,NaN,NaN,Asus,Ryzen 9,NaN,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        306 non-null    int64
 1   Name              306 non-null    object
 2   Discounted Price  306 non-null    float64
 3   Actual Price      291 non-null    float64
 4   Saving            291 non-null    object
 5   Rating            26 non-null     float64
 6   Reviews           26 non-null     float64
 7   Brand             306 non-null    object
 8   Core              219 non-null    object
 9   SSD               92 non-null     object
 10  Model             306 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 26.4+ KB

In [ ]:
df.describe()

       Unnamed: 0  Discounted Price  Actual Price     Rating    Reviews
count  306.000000      3.060000e+02  2.910000e+02  26.000000  26.000000
mean   152.500000      2.775879e+05  3.212616e+05   4.753846   1.615385
std     88.478811      1.708020e+05  1.802598e+05   0.572874   1.134087
min      0.000000      8.599900e+04  1.119990e+05   3.000000   1.000000
25%     76.250000      1.742490e+05  2.000000e+05   5.000000   1.000000
50%    152.500000      2.344990e+05  2.800000e+05   5.000000   1.000000
75%    228.750000      3.449998e+05  3.800000e+05   5.000000   2.000000
max    305.000000      1.552999e+06  1.599900e+06   5.000000   5.000000

In [ ]:
df.shape

(306, 11)

In [ ]:
df.columns

Index(['Unnamed: 0', 'Name', 'Discounted Price', 'Actual Price', 'Saving',
       'Rating', 'Reviews', 'Brand', 'Core', 'SSD', 'Model'],
      dtype='object')

In [ ]:
df.iloc[3]

Unnamed: 0                                                          3
Name                Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...
Discounted Price                                             287999.0
Actual Price                                                 340000.0
Saving                                                        15% OFF
Rating                                                            NaN
Reviews                                                           NaN
Brand                                                          Lenovo
Core                                                          Ultra 7
SSD                                                               NaN
Model                         ThinkPad E16 Gen 2 - Intel Core Ultra 7
Name: 3, dtype: object

In [ ]:
df.iloc[303]

Unnamed: 0                                                        303
Name                ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...
Discounted Price                                             205000.0
Actual Price                                                      NaN
Saving                                                            NaN
Rating                                                            NaN
Reviews                                                           NaN
Brand                                                            ASUS
Core                                                          Core i7
SSD                                                               NaN
Model                            Expertbook B1500CBA 12th Gen Core i7
Name: 303, dtype: object

In [ ]:
df[df["Actual Price"]>3]

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,NaN,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,NaN,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
290,290,Dell Inspiron 15 3530 13th Gen Core i7 1355U (...,189999.0,219999.0,14% OFF,NaN,NaN,Dell,Core i7,16GB-512GB SSD,Inspiron 15 3530 13th Gen Core i7 1355U
291,291,Dell Inspiron 3535 AMD Ryzen 7-7730U (16GB-512...,134499.0,142999.0,6% OFF,NaN,NaN,Dell,Ryzen 7,16GB-512GB SSD,Inspiron 3535 AMD Ryzen 7-7730U
292,292,Acer Predator Helios Neo PH16-72-99PA Intel Co...,430999.0,449999.0,4% OFF,NaN,NaN,Acer,Core i9,NaN,Predator Helios Neo PH16-72-99PA Intel Core i9...
293,293,Acer Predator Helios Neo PH16-72-97T1 Intel Co...,781999.0,950000.0,18% OFF,NaN,NaN,Acer,Core i9,NaN,Predator Helios Neo PH16-72-97T1 Intel Core i9...
294,294,ASUS ROG Zephyrus G14 GA403UM Ryzen 9-270 (16G...,499999.0,550000.0,9% OFF,NaN,NaN,ASUS,Ryzen 9,NaN,ROG Zephyrus G14 GA403UM Ryzen 9-270 RTX 5060...

In [59]:
df[df['Brand']=='ASUS']

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
36,36,ASUS TUF GAMING F15-FX507VU Ci7-13620H (16GB-5...,319999.0,365000.0,12% OFF,NaN,NaN,ASUS,NaN,16GB-512GB SSD,TUF GAMING F15-FX507VU Ci7-13620H RTX 4050 6GB
38,38,ASUS TUF F16 FX608JMR Ci7 14650HX (32GB-1TB SS...,444999.0,475000.0,6% OFF,NaN,NaN,ASUS,NaN,NaN,TUF F16 FX608JMR Ci7 14650HX RTX 5060 8GB
73,73,ASUS TUF GAMING F15-FX507VV Ci7-13620H (16GB-5...,359999.0,400000.0,10% OFF,NaN,NaN,ASUS,NaN,16GB-512GB SSD,TUF GAMING F15-FX507VV Ci7-13620H RTX 4060 8GB
74,74,ASUS TUF GAMING A14 FA-401WU RYZEN AI 9 HX370 ...,501999.0,549000.0,9% OFF,NaN,NaN,ASUS,NaN,NaN,TUF GAMING A14 FA-401WU RYZEN AI 9 HX370 RTX ...
75,75,ASUS EXPERTBOOK B3402FBA Ci5 1235U (8GB-512GB ...,169999.0,230000.0,26% OFF,NaN,NaN,ASUS,NaN,8GB-512GB SSD,EXPERTBOOK B3402FBA Ci5 1235U
104,104,ASUS EXPERTBOOK B1503CVA Ci7 1355U (16GB-512GB...,181999.0,200000.0,9% OFF,NaN,NaN,ASUS,NaN,16GB-512GB SSD,EXPERTBOOK B1503CVA Ci7 1355U
108,108,ASUS ROG STRIX G614J 13TH CI7 13650HX (32GB-1T...,378999.0,399999.0,5% OFF,NaN,NaN,ASUS,NaN,NaN,ROG STRIX G614J 13TH CI7 13650HX
113,113,ASUS Zenbook 14 UX3405C Intel Core Ultra 9 285...,389999.0,499999.0,22% OFF,NaN,NaN,ASUS,Ultra 9,NaN,Zenbook 14 UX3405C Intel Core Ultra 9 285H
117,117,ASUS TUF GAMING F17 FX707VU Ci7-13620H (16GB-5...,327999.0,375000.0,13% OFF,NaN,NaN,ASUS,NaN,16GB-512GB SSD,TUF GAMING F17 FX707VU Ci7-13620H RTX 4050 6GB
119,119,ASUS ROG STRIX G16 G615JMR Ci7 14650HX (16GB-1...,449999.0,570000.0,21% OFF,NaN,NaN,ASUS,NaN,NaN,ROG STRIX G16 G615JMR Ci7 14650HX RTX 5060 8GB
124,124,ASUS TUF F16 FX608LM Ultra 9-275HX (32GB-1TB S...,549999.0,600000.0,8% OFF,NaN,NaN,ASUS,Ultra 9,NaN,TUF F16 FX608LM Ultra 9-275HX RTX 5060 8GB
136,136,ASUS EXPERTBOOK B1503CVA Ci5-1334U (16GB -512G...,153999.0,200000.0,23% OFF,NaN,NaN,ASUS,NaN,16GB -512GB SSD,EXPERTBOOK B1503CVA Ci5-1334U
137,137,ASUS TUF FX507VV-Ci7-13620H (16GB 1TB) RTX 406...,356999.0,400000.0,11% OFF,NaN,NaN,ASUS,NaN,NaN,TUF FX507VV-Ci7-13620H RTX 4060 8GB
162,162,ASUS ExpertBook B1502CV 13th Gen Core i5 1355U...,151999.0,179999.0,16% OFF,NaN,NaN,ASUS,Core i5,8GB-512GB SSD,ExpertBook B1502CV 13th Gen Core i5 1355U
194,194,ASUS EXPERTBOOK B1403CVA Ci7-1355U (16GB -512G...,181999.0,230000.0,21% OFF,NaN,NaN,ASUS,NaN,16GB -512GB SSD,EXPERTBOOK B1403CVA Ci7-1355U
214,214,ASUS EXPERTBOOK B1403CVA Ci5 1334U (16GB-512GB...,153999.0,200000.0,23% OFF,NaN,NaN,ASUS,NaN,16GB-512GB SSD,EXPERTBOOK B1403CVA Ci5 1334U
233,233,ASUS ExpertBook B1 502CB 12th Ci5 235U,147999.0,170000.0,13% OFF,NaN,NaN,ASUS,NaN,NaN,ExpertBook B1 502CB 12th Ci5 235U
250,250,ASUS ZenBook 14 Q415MA Core Ultra 5 125H,191999.0,250000.0,23% OFF,NaN,NaN,ASUS,Ultra 5,NaN,ZenBook 14 Q415MA Core Ultra 5 125H
283,283,ASUS Expertbook B1402CVA 13th Gen Core i7 (16G...,156999.0,200000.0,22% OFF,NaN,NaN,ASUS,Core i7,NaN,Expertbook B1402CVA 13th Gen Core i7
294,294,ASUS ROG Zephyrus G14 GA403UM Ryzen 9-270 (16G...,499999.0,550000.0,9% OFF,NaN,NaN,ASUS,Ryzen 9,NaN,ROG Zephyrus G14 GA403UM Ryzen 9-270 RTX 5060...
296,296,ASUS Expertbook B3402FB 12th gen Core i7 (16GB...,225000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,Expertbook B3402FB 12th gen Core i7
297,297,ASUS TUF FX507ZC4-HN096 12th Gen Core i5 (16GB...,260000.0,NaN,NaN,NaN,NaN,ASUS,Core i5,NaN,TUF FX507ZC4-HN096 12th Gen Core i5
299,299,ASUS Expertbook B1402CBA 12th Gen Core i5 (8GB...,155000.0,NaN,NaN,NaN,NaN,ASUS,Core i5,NaN,Expertbook B1402CBA 12th Gen Core i5
300,300,ASUS TUF FX507ZC4-HN153 12th Gen Core i7 (16GB...,300000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,TUF FX507ZC4-HN153 12th Gen Core i7
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,TUF FX507ZV4-LP349 12th Gen Core i7
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,NaN,NaN,NaN,NaN,ASUS,Core i7,NaN,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,NaN,NaN,NaN,NaN,ASUS,Core i5,NaN,TUF FX507ZC4-HN129 12th Gen Core i5

In [60]:
df[['Name', 'Saving']]

                                                  Name   Saving
0            Apple MacBook Air 13 M1 MGN63 (8GB-256GB)  21% OFF
1                   Apple Macbook Air 13 MW123 M4 Chip  19% OFF
2    ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...  13% OFF
3    Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...  15% OFF
4            Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB)  16% OFF
..                                                 ...      ...
301  ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...      NaN
302        Infinix GT BOOK Core i9 13900H (32GB - 1TB)      NaN
303  ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...      NaN
304  ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...      NaN
305  Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...      NaN

[306 rows x 2 columns]

In [61]:
df.SSD

0                 NaN
1                 NaN
2      16GB-512GB SSD
3                 NaN
4                 NaN
            ...
301               NaN
302               NaN
303               NaN
304               NaN
305               NaN
Name: SSD, Length: 306, dtype: object