Pandas **Lib**

In [225]:
import pandas as pd

In [226]:
df=pd.read_csv('/content/priceoye_laptops_version_2.csv')

In [227]:
df.head()

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,NaN,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,NaN,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7

## **Checked sum of all null values in each colomn**

In [228]:
df.isnull().sum()

Unnamed: 0            0
Name                  0
Discounted Price      0
Actual Price         15
Saving               15
Rating              280
Reviews             280
Brand                 0
Core                 87
SSD                 214
Model                 0
dtype: int64

In [229]:
df['Actual Price'].isnull().sum()

np.int64(15)

In [230]:
df['Actual Price'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
301     True
302     True
303     True
304     True
305     True
Name: Actual Price, Length: 306, dtype: bool

In [231]:
df['Actual Price'].fillna('unknown' ,inplace=True)

/tmp/ipython-input-607610158.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Actual Price'].fillna('unknown' ,inplace=True)
/tmp/ipython-input-607610158.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Actual Price'].fillna('unknown' ,inplace=True)

In [232]:
df

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,NaN,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,NaN,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,NaN,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,unknown,NaN,NaN,NaN,ASUS,Core i7,NaN,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,unknown,NaN,NaN,NaN,Infinix,Core i9,NaN,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,unknown,NaN,NaN,NaN,ASUS,Core i7,NaN,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,unknown,NaN,NaN,NaN,ASUS,Core i5,NaN,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,unknown,NaN,NaN,NaN,Asus,Ryzen 9,NaN,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

In [233]:
df['Rating'].isnull().sum()

np.int64(280)

In [234]:
df['Rating'].isnull()

0      False
1      False
2       True
3       True
4       True
       ...
301     True
302     True
303     True
304     True
305     True
Name: Rating, Length: 306, dtype: bool

In [235]:
df['Rating']=df['Rating'].fillna(2.5)

In [236]:
df

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,2.5,NaN,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,2.5,NaN,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,2.5,NaN,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,unknown,NaN,2.5,NaN,ASUS,Core i7,NaN,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,unknown,NaN,2.5,NaN,Infinix,Core i9,NaN,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,unknown,NaN,2.5,NaN,ASUS,Core i7,NaN,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,unknown,NaN,2.5,NaN,ASUS,Core i5,NaN,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,unknown,NaN,2.5,NaN,Asus,Ryzen 9,NaN,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

In [237]:
df['Reviews'].isnull().sum()

np.int64(280)

In [238]:
df['Reviews'].isnull()

0      False
1      False
2       True
3       True
4       True
       ...
301     True
302     True
303     True
304     True
305     True
Name: Reviews, Length: 306, dtype: bool

In [239]:
df['Reviews']=df['Reviews'].fillna(0)
df

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,NaN,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,NaN,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,2.5,0.0,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,2.5,0.0,Lenovo,Ultra 7,NaN,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,2.5,0.0,Lenovo,Ryzen 7,NaN,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,unknown,NaN,2.5,0.0,ASUS,Core i7,NaN,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,unknown,NaN,2.5,0.0,Infinix,Core i9,NaN,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,unknown,NaN,2.5,0.0,ASUS,Core i7,NaN,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,unknown,NaN,2.5,0.0,ASUS,Core i5,NaN,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,unknown,NaN,2.5,0.0,Asus,Ryzen 9,NaN,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

In [240]:
df['SSD'].isnull().sum()

np.int64(214)

In [241]:
df['SSD'].isnull()

0       True
1       True
2      False
3       True
4       True
       ...
301     True
302     True
303     True
304     True
305     True
Name: SSD, Length: 306, dtype: bool

In [242]:
df['SSD'].fillna('Unkonwn' , inplace=True)
df

/tmp/ipython-input-2102644896.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SSD'].fillna('Unkonwn' , inplace=True)

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,Unkonwn,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,Unkonwn,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,2.5,0.0,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,2.5,0.0,Lenovo,Ultra 7,Unkonwn,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,2.5,0.0,Lenovo,Ryzen 7,Unkonwn,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,unknown,NaN,2.5,0.0,ASUS,Core i7,Unkonwn,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,unknown,NaN,2.5,0.0,Infinix,Core i9,Unkonwn,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,unknown,NaN,2.5,0.0,ASUS,Core i7,Unkonwn,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,unknown,NaN,2.5,0.0,ASUS,Core i5,Unkonwn,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,unknown,NaN,2.5,0.0,Asus,Ryzen 9,Unkonwn,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

In [243]:
df['Core'].isnull().sum()

np.int64(87)

In [244]:
df['Core'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
301    False
302    False
303    False
304    False
305    False
Name: Core, Length: 306, dtype: bool

In [245]:
df['Core'].fillna('Unknown' ,inplace=True)
df

/tmp/ipython-input-4181428822.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Core'].fillna('Unknown' ,inplace=True)

,Unnamed: 0,Name,Discounted Price,Actual Price,Saving,Rating,Reviews,Brand,Core,SSD,Model
0,0,Apple MacBook Air 13 M1 MGN63 (8GB-256GB),203499.0,258000.0,21% OFF,5.0,2.0,Apple,M1,Unkonwn,MacBook Air 13 M1 MGN63
1,1,Apple Macbook Air 13 MW123 M4 Chip,281999.0,350000.0,19% OFF,4.3,5.0,Apple,M4,Unkonwn,Macbook Air 13 MW123 M4 Chip
2,2,ASUS Zenbook 14 UX3405CA Intel Core Ultra 7 25...,285999.0,330000.0,13% OFF,2.5,0.0,ASUS,Ultra 7,16GB-512GB SSD,Zenbook 14 UX3405CA Intel Core Ultra 7 255H
3,3,Lenovo ThinkPad E16 Gen 2 - Intel Core Ultra 7...,287999.0,340000.0,15% OFF,2.5,0.0,Lenovo,Ultra 7,Unkonwn,ThinkPad E16 Gen 2 - Intel Core Ultra 7
4,4,Lenovo IdeaPad Slim 3 Ryzen 7 (8GB-512GB),146999.0,175000.0,16% OFF,2.5,0.0,Lenovo,Ryzen 7,Unkonwn,IdeaPad Slim 3 Ryzen 7
...,...,...,...,...,...,...,...,...,...,...,...
301,301,ASUS TUF FX507ZV4-LP349 12th Gen Core i7 (16GB...,345000.0,unknown,NaN,2.5,0.0,ASUS,Core i7,Unkonwn,TUF FX507ZV4-LP349 12th Gen Core i7
302,302,Infinix GT BOOK Core i9 13900H (32GB - 1TB),442999.0,unknown,NaN,2.5,0.0,Infinix,Core i9,Unkonwn,GT BOOK Core i9 13900H
303,303,ASUS Expertbook B1500CBA 12th Gen Core i7 (16G...,205000.0,unknown,NaN,2.5,0.0,ASUS,Core i7,Unkonwn,Expertbook B1500CBA 12th Gen Core i7
304,304,ASUS TUF FX507ZC4-HN129 12th Gen Core i5 (8GB-...,255000.0,unknown,NaN,2.5,0.0,ASUS,Core i5,Unkonwn,TUF FX507ZC4-HN129 12th Gen Core i5
305,305,Asus ROG Zephyrus G15 GA503QR 15.6 Inches Ryze...,399900.0,unknown,NaN,2.5,0.0,Asus,Ryzen 9,Unkonwn,ROG Zephyrus G15 GA503QR 15.6 Inches Ryzen 9 5...

## **Checked all null values are replaced or not**

In [246]:
df.isnull().sum()

Unnamed: 0           0
Name                 0
Discounted Price     0
Actual Price         0
Saving              15
Rating               0
Reviews              0
Brand                0
Core                 0
SSD                  0
Model                0
dtype: int64